@import "UISystem";

main {
    background: radial-gradient(circle at 50% 50%, transparent , black),url("../../assets/img/big_bass_bkg.jpg");
//   background: radial-gradient(circle at 50% 10%, transparent, black);
  background-size: var(--backgroundSize) var(--backgroundSize);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  row-gap: $xxl;
  justify-content: center;
  align-items: center;
  img {
    width: 250px;
    animation: shadow ease 3s infinite alternate;
  }
  min-height: 80dvh;
  animation: backgroundZoom ease 20s infinite;
  a {
    padding: $xs $xxxl;
    border: 1px solid $yellow-800;
    border-radius: 2rem;
    background-color: $orange-900;
    text-transform: uppercase;
    font: {
      weight: bold;
    }
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: $xxh;
  padding: $xxh $xxl;
  background-color: $grey-900;
  color: $grey-50;
}

@property --backgroundSize {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@keyframes shadow {
  0% {
    filter: drop-shadow(1rem 1rem 0.5rem white)
      drop-shadow(1rem 1rem 0.5rem turquoise);
  }
  50% {
    filter: drop-shadow(0rem 0rem 0.5rem white);
  }
  100% {
    filter: drop-shadow(-1rem -1rem 0.5rem white);
  }
}

@keyframes backgroundZoom {
  0% {
    --backgroundSize: 100%;
  }
  50% {
    --backgroundSize: 120%;
  }
  80%,
  100% {
    --backgroundSize: 100%;
  }
}

.playerProtection {
  display: flex;
  flex-flow: column nowrap;
  gap: $xxl;
  p {
    max-width: 50ch;
    text-align: justify;

    a {
      text-decoration: none;
      color: $grey-50;
      font-weight: bold;
    }
  }
  ul {
    list-style-type: none;
    column-gap: $xxl;
    row-gap: $m;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    li {
      &:first-of-type {
        img {
          height: $h;
        }
      }
      img {
        height: $l;
      }
    }
  }
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  row-gap: $xxs;
  p {
    max-width: 66ch;
    text-align: justify;
    color: $grey-600;
  }
}

.socialMedia {
  margin-top: $xxh;
  color: $grey-500;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: $m;
  font: {
    size: $l;
  }
}

.paymentMethods {
  //   border-bottom: 1px solid $grey-800;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  column-gap: $m;
  font: {
    size: $xxl;
  }
  img {
    height: $xxxl;
    filter: grayscale(1) brightness(2);
  }
}

@import "Tablet.scss";
@import "Mobile.scss";
